.myDiv {
  width: 200px;
  height: 100px;
  animation: rotation 1s linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.plyComp {
  display: flex;
  justify-content: center;
  gap: 90px;
}

.btn {
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.2ss ease;
}

.clicked {
  border: 2px solid white;
}


.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  color: #0F3B1E;
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  // font-size: 1.5rem;
  box-shadow: 0 0 10px #000;
}

.popupResult {
  padding-bottom: 10px;
}

.playAgain {
  color: #0F3B1E;
  background-color: #FFA500;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}

.resultDisplay {
  color: white;
  text-align: center;
  padding: 20px 0px 0px 0px;
  font-weight: bold;
  font-size: 25px 0px 0px 0px;
}

.plyCompNew {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.alter {
  color: #FFA500;
  font-size: 8px;
}

:host {
  display: block;
  height: 100%;
}

.game {
  text-align: center;
  padding: 20px;
  font-weight: bold;
  color: white;
}

.title {
  padding: 0px 0px 20px 0px;
}

.titleNew {
  padding: 0px 0px 20px 0px;
}

.buttons button {
  width: 45px;
  height: 45px;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  font-size: 25px;
  font-weight: 900;
  color: #0F3B1E;
  background-color: #FFA500;
  // background-color: #3c341f;
}

.scorecard button {
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px;
  padding: 6px 15px;
  font-size: 18px;
  background-color: #3c341f;
}

.result {
  padding: 40px 0px 10px 0px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.scorecard {
  margin-bottom: 15px;
}

.scorecard p {
  margin: 5px 0;
}

.scoreCardNew {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 300px;
  text-align: center;
  font-size: 30px;
  // font-weight: 700;
  background-color: #FFA500;
  color: #0F3B1E;
}

/* Full page center using Flexbox */
body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Centered div styling */
.center-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 0px 20px;
  padding: 10px;
  text-align: center;
  background-color: #FFA500;
  color: #0F3B1E;
}

th {
  font-size: 20px;
  background-color: #FFA500;
  color: #0F3B1E;
}

td {
  font-size: 20px;
  width: 150px;
}

.flxClass {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset,
.back {
  padding-top: 20px;
}

.resetButton,
.backButton {
  align-items: center;
  background-color: black;
  color: white;
  margin: 10px;
  padding: 6px 15px;
  border-radius: 12px;
}

.profileImage {
  padding-top: 10px;
}

.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  /* border: 4px solid #fff; */
  /*margin-bottom: 1rem;*/
}

.triangle-container {
  position: relative;
  width: 150px;
  height: 140px;
  // margin: auto;
}

.rps-img {
  width: 60px;
  height: 60px;
  position: absolute;
  font-weight: 900;
}

.top-img {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.far {
  font-weight: 900;
}

.bottom-left-img {
  bottom: 0;
  left: 0;
}

.bottom-right-img {
  bottom: 0;
  right: 0;
}

.table {
  width: 300px;
  text-align: center;
  margin: auto;
  padding: 40px 0px 0px 0px;
}
// #0F3B1E
// #FFA500